.q{
    display: flex;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
    flex-wrap: wrap;
}

i{
    align-self: center;
    transition: transform 0.3s ease;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

i:hover{
    scale: 1.5;
}

.a{
    height:0;
    overflow: hidden;
    transition: height 0.3s ease;
}

.a.open{
    height: auto;
}

hr{
    
}

i.rotate{
    transform: rotate(180deg);
}